<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>segmentmodule</name>
	<displayName><![CDATA[Segment Module]]></displayName>
	<version><![CDATA[2.7]]></version>
	<description><![CDATA[Module for Customer Segmentation]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>